

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*/



/* .wrapper.two {
  font-size: 2rem;
  font-family: "Play", sans-serif;
}
.neon h3 {
  margin: 1rem auto;
  animation: neon 5s ease-in-out infinite;
  
}
@keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 10px #1bebe0ec, 0 0 20px #1bebe0ec, 0 0 20px #1bebe0ec, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
      color: #f5efcb;
  }
  50% {
      text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
      color: #eda0d3;
  }
}

.neon h4 {
  margin: 0.5rem auto;
  animation:neon 5s ease infinite;

} */






h3 {
	font-family:  'Anonymous Pro', monospace;
	color: #fff;
	text-shadow:
		0 0 1px #fff,
		0 0 3px #fff,
		0 0 6px #fff,
		0 0 10px rgb(155, 143, 122),
		0 0 15px rgb(155, 143, 122),
		0 0 21px rgb(155, 143, 122),
		0 0 58px rgb(155, 143, 122),
		0 0 75px rgb(155, 143, 122);
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

.line-1{
	
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
	font-family: 'Anonymous Pro', monospace;
	color: rgba(255, 255, 255, 0.877);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(148, 153, 165, 0);
	box-shadow: 0 0 10px #000;
	opacity: 85%;
	
}

.login-html:before {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(1px);
}
h2 {
	color:#aaa;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#cecad8;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	/* text-security:circle; */
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}


.frame {
width: 90%;
margin: 40px auto;
text-align: center;
}

.custom-btn {
	color: #fff;
	width: 130px;
	height: 40px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
  }

  .btn-14 {
	position: relative;
	color: #00aced;
	border: none;
	z-index: 2;
  }
  .btn-14:before,
  .btn-14:after {
	position: absolute;
	content: "";
	width: 20%;
	height: 20%;
	border: 1px solid;
	
	z-index: -1;
	transition: all 0.3s ease;
  }
  .btn-14:before{
	 top: 0;
	 left: 0;
	 border-bottom-color: transparent;
	 border-right-color: transparent;
	 border-top-color: #00aced;
	 border-left-color: #00aced;
  }
  .btn-14:after{
	 bottom: 0;
	 right: 0;
	 border-top-color: transparent;
	 border-left-color: transparent;
	 border-bottom-color: #00aced;
	 border-right-color: #00aced;
  }
  .btn-14:hover:before,
  .btn-14:hover:after {
	border-color: #00aced;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
  }

.panel__content{
width: 400px;
text-align: center;

}


.neonText {
	color: #e2131393;
	text-shadow:
	0 0 7px #ca8181,
	0 0 10px #fff,
	0 0 21px #fff,
	0 0 42px rgb(16, 17, 17),
	0 0 82px rgba(44, 70, 62, 0.678),
	0 0 92px rgb(196, 71, 185),
	0 0 102px rgb(172, 19, 185),
	0 0 151px #0fa;
}

/* LOGO TEXT*/

.gradient-logo {
	background-color: #CA4246;
	background-image: linear-gradient(
        45deg,
        #222020 16.666%, 
        #131010 16.666%, 
        #161210 33.333%, 
        #110d0a 33.333%, 
        #1a120d 50%, 
        #232910 50%, 
        #20290d67 66.666%, 
        #6b3e1bf8 66.666%, 
        #ac4e1380 83.333%, 
        #d463129a 83.333%);
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-logo:hover{
	animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

.container-links {
	margin-left: 535px;
	display: flex;
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
	
}

.container-links #link-1 {
	margin-right: 40px;
}

.container-links #link-2 {
	margin-right: 40px;
}