.float{
	display: block;
	position: fixed;
	width: 200px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	z-index: 1;
	text-align:center;
	
}

#bot-button {
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	border: 1px solid #fd9e22;
	background-color: rgba(247,151,138,255);
}
#bot-button:hover {
	box-shadow: 0 0 10px 0 #b7dfdb inset, 0 0 20px 2px #b7dfdb;
	border: 3px solid #b7dfdb;
  }