.html {
  font-size: 16px;
}
.html {
  background-color: #1F2039;
}
.hero {
  padding: 80px;
}
.hero {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: auto;
}
.div {
  margin-right: 40px;
  padding-top: 0;
  
}
#h2-landing {
  color: #A5B4FC;
  font-size: 3em;
  padding-bottom: 25px;
}
#p {
  color: white;
  font-size: 1.2em;
  margin-bottom: 70px;
  overflow: hidden;
  animation: slide-in-anim 1.5s ease-out forwards;

}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
	}
}



.cta {
  text-decoration: none;
  color: white;
}
.cta:hover {
  text-decoration: none;
}
.cta {
  color: white;
  background: linear-gradient(#8E86B5, #ACAEED);
  padding: 20px 30px;
  font-size: 1.1em;
  border-radius: 50px;
}
.cta:hover {
  text-decoration: none;
  background: linear-gradient(#696484, #8788BA);
}
@media screen and (max-width: 996px) {
  .hero {
     flex-direction: column;
     text-align: center;
     justify-content: center;
     padding: 30px;
     padding: 10px;
     width: 85%;
    }
  .hero #image-one #image-two {
     order: 1;
     margin-bottom: 40px;
     
    }
  .hero .div {
     order: 2;
     height: auto;
     margin-bottom: 15px;
     margin-right: 0;
    }
  .home #p {
     padding: 0 50px 0 50px;
     margin-bottom: 50px;
    }
}
@media screen and (max-width: 470px) {
  .hero h1 {
     font-size: 2em;
    }
  .hero #p {
     font-size: 1.2em;
    }
}

#stat-banner {
  background: linear-gradient(225deg, rgba(91,174,244,0.7903536414565826) 0%, rgba(149,65,170,1) 100%);
  
}

.neon-text {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

.neon-text2 {
    
    color: rgb(255, 255, 255);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    font-weight: 400;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 
        0 0 5px #ffe600,
        0 0 7px #ffe600,
        0 0 12px #ffe600f8,
        0 0 20px rgb(240, 14, 14),
        0 0 62px rgb(240, 14, 14),
        0 0 62px rgb(240, 14, 14),
        0 0 58px rgb(240, 14, 14),
        0 0 85px rgb(240, 14, 14);
        
} 

.neon-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15%;
}

.btn {
  border: 1px solid;
  background-color: transparent;
  padding: 10px 20px;
  font-weight: 300;
}

.one {
  color: #2de2faf6;
  
}

.two {
  color: #ffffff; 
}


.btn:hover {
  color: white;
  border: 0;
}

.one:hover {
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

.two:hover {
  background-color: #9d4dee;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
  box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
}

.neon-text2 {
  position: relative;
  font-size: 25px;
  opacity:0;
  top:40px;
  left:10px;
  animation: slideUp ease .5s forwards 1.2s;
}

@keyframes slideUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-40px);opacity:1;}
}




/* 
.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.77s ease-in-out;
}

.btn:hover {
  transition: 0.77s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
} */
