
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    appearance: none;
    border-style: none;
    color: #dac9c97a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, span, p {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  html,
  .body {
    width: 100%;
    height: 100%;
    /* background: rgb(52,22,39);
    background: linear-gradient(90deg, rgba(52,22,39,1) 5%, rgba(218,217,218,1) 82%); */
        /*scrollbar-width: none;
    overflow: hidden;
  
    &::-webkit-scrollbar {
      width: 0;
    }*/
  }
  
  .body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
  }
  .body::-webkit-scrollbar {
    background: #020202;
    width: 10px;
  }
  .body::-webkit-scrollbar-track {
    background: #020202;
  }
  .body::-webkit-scrollbar-thumb {
    background: #635656;
    border-radius: 1px;
  }
  .body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  .body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  .body .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.05em;
  }
  .body .container .card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0.5em;
    background: rgba(124, 136, 138, 0.795);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    background-clip: padding-box;
  }
  .body .container .card .content {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
  }
  .body .container .card .content .img {
    position: relative;
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(255, 255, 255, 0.25);
  }
  .body .container .card .content .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .body .container .card .content .cardContent h3 {
    color: #221a1a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  .body .container .card .content .cardContent h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  .body .container .card .sci {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
  }
  .body .container .card .sci li {
    margin: 0 1px;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  .body .container .card .sci li a {
    font-size: 24px;
  }
  .body .container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
  }
  .body .container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
  }