.line-2{
    margin-top: -375px;
    position: relative;
    margin-left: 780px;
    top: 50%;  
    width: 16em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    color: antiquewhite;
}

/* Animation */
.anim-typewriter-2{
  animation: typewriter 1.5s steps(42) 1s 1 normal both,
             blinkTextCursor 500ms steps(85) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 14em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.type-2 {
    min-height: 100%;
    overflow: hidden;
}


.line-3{
  
  font-size: 120%;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(255, 255, 255);

}


#purchasebtn {
  background: linear-gradient(45deg, rgba(182,10,10,1) 15%, rgba(58,115,205,1) 88%);
  width: 280px;
}

#singlebuttonpurchase {
  width: 120px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: wheat;
  color: black;
}


#opencatalogbutton{ 
  transition: 'box-shadow 0.2s';
  width: 200px;
  background-color: lavenderblush;
  color: black;
}

#opencatalogbutton:hover {
  box-shadow: 0 0 25px rgba(197, 65, 65, 0.836);
}